@using ViewModel;

@model List<GetAllLemburViewModel>
@{
    ViewData["Title"] = "Lembur";
}

<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <h1 class="card-title">@ViewData["Title"]</h1>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <button id="btn_create_lembur" class="btn btn-primary" data-bs-toggle="modal", data-bs-target="#staticBackdrop">Create</button>
                </div>
            </div>
        </div>
        <table class="table table-hover mb-3">
            <thead>
                <tr>
                    <th>No. Pegawai</th>
                    <th>Nama Pegawai</th>
                    <th>Tanggal Masuk</th>
                    <th>Jenis Kelamin</th>
                    <th>Status</th>
                    <th>Gaji Pokok</th>
                    <th>Uang Makan</th>
                    <th>Uang Transport</th>
                    <th>Uang Lembur</th>
                    <th>Nilai Tunjangan</th>
                    <th>Document lembur</th>
                    <th>Id Pegawai</th>
                    <th>Tanggal Lembur</th>
                    <th>Jumlah lembur</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Count != 0)
                {
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.DataPegawai.Id</td>
                            <td>@item.DataPegawai.NamaPegawai</td>
                            <td>@item.DataPegawai.TanggalMasuk</td>
                            <td>@item.DataPegawai.JenisKelamin</td>
                            <td>@item.DataPegawai.Status.Deskripsi</td>
                            <td>@item.DataPegawai.GajiPokok</td>
                            <td>@item.DataPegawai.UangMakan</td>
                            <td>@item.DataPegawai.UangTransport</td>
                            <td>@item.DataPegawai.UangLembur</td>
                            <td>@item.DataPegawai.NilaiTunjangan</td>
                            <td>@item.DokumenLembur</td>
                            <td>@item.IdPegawai</td>
                            <td>@item.Tanggal</td>
                            <td>@item.JumlahLembur</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            Data Not Foound!
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $("#btn_create_lembur").click(function () {
        $("#staticBackdropBody").load("/Lembur/Create");
    });
</script>