@using ViewModel;

@model List<ReturnPegawaiViewModel>
@{
    ViewData["Title"] = "Pegawai";
}

<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <h1 classs="card-title">@ViewData["Title"]</h1>
        </div>


        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <button id="btn_create" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create</button>
                </div>
            </div>
        </div>
        <table class="table table-hover mb-3">
            <thead>
                <tr>
                    <th>No. Pegawai</th>
                    <th>Nama Pegawai</th>
                    <th>Tanggal Masuk</th>
                    <th>Jenis Kelamin</th>
                    <th>Status</th>
                    <th>Gaji Pokok</th>
                    <th>Uang Makan</th>
                    <th>Uang Transport</th>
                    <th>Uang Lembur</th>
                    <th>Nilai Tunjangan</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count != 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NomerPegawai</td>
                            <td>@item.NamaPegawai</td>
                            <td>@item.TanggalMasuk</td>
                            <td>@item.JenisKelamin</td>
                            <td>@item.JenisStatus</td>
                            <td>@item.GajiPokok</td>
                            <td>@item.UangMakan</td>
                            <td>@item.UangTransport</td>
                            <td>@item.UangLembur</td>
                            <td>@item.NilaiTunjangan</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            Data Not Foound!
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        $("#btn_create").click(function () {
            $("#staticBackdropBody").load("/Pegawai/Create");
        });
    </script>